span {
    color: blueviolet;
}


body {
    background-color: darkgrey;
    -webkit-animation:mymove 5s infinite;
    animation: mymove 30s ;}
@-webkit-keyframes mymove{
    from{background-color:lightgrey;}
    to {background-color:darkgrey;}
}
/*
body {
    background: #133fff;
    background: linear-gradient(grey, orange, blue);
}
*/
p.top_bar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: darkblue;
    width: 1000px;

}